name: Documentation

on:
  push:
    tags: [v*]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install doxygen build-essential cmake liblapack-dev
      - name: Configure
        run: |
          mkdir $GITHUB_WORKSPACE/build && cd $GITHUB_WORKSPACE/build
          cmake -DCMAKE_BUILD_TYPE=RELEASE -DWITH_EXAMPLES=OFF $GITHUB_WORKSPACE
      - name: Build documentation
        run: |
          cd $GITHUB_WORKSPACE/build
          make
          make doc
      - name: Deploy to GH pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/doc/html
